@tailwind base;
@tailwind components;
@tailwind utilities;

.button-group {
    display: flex;
    gap: 10px; /* Adjusts space between buttons */
  }
  
  .rounded-button {
    background-color: #FFFFFF; /* Button background color */
    border: 2px solid #000; /* Sets the border color and thickness (black border) */
    border-radius: 15px; /* Adjust for desired roundness */
    padding: 10px 15px; /* Adds padding for better button size */
    color: #000; /* Button text color */
    font-weight: bold; /* Makes the button text bold */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .rounded-button:hover {
    background-color: #e0a800; /* Darker shade on hover for visual feedback */
  }
  